p {
  margin: 0px;
}

div {
  border: solid;
  border-color: black;
}

#div1 {
  background-color: yellow;
}

#div2 {
  background-color: cyan;
  position: absolute;
  top: 15px;
  left: 30px;
}
#div3 {
  background-color: lightpink;
}

#div4 {
  background-color: orange;
}

#div5 {
  background-color: lightblue;
  position: fixed;
  top: 5px;
  left: 5px;
}

#div6 {
  background-color: lightgray;
}
