p {
  margin: 0px;
}

div {
  border: solid;
  border-color: black;
}

#div1 {
  background-color: yellow;
}

#div2 {
  background-color: cyan;
}

#div3 {
  background-color: lightpink;
  float: left;
  width: 80%;
}

#div4 {
  background-color: orange;
}

#div5 {
  background-color: lightblue;
}

#div6 {
  background-color: lightgray;
}
